<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragements/layout :: head(#{chart.title})">
</head>
<body>
<div th:replace="fragements/layout::navbar">Cia yra navbar (menu)</div>
<h1 class="d-flex justify-content-center" th:text="#{chart.title}"></h1><br>
<div th:if="${!chartsPage.hasContent()}" th:text="#{chart.noCharts}"><h3></h3></div>
<div th:if="${chartsPage.hasContent()}" class="container">
    <span th:text="'Viso irasu ' + ${chartsPage.totalElements}"></span>
    <span th:text="'Viso puslapiu ' + ${chartsPage.totalPages}"></span>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">
                <a th:replace="fragements/layout :: sortColumn(data=${chartsPage}, name='name', path=@{/chart/page}, sortUp='fa-arrow-up-z-a', sortDown='fa-arrow-down-a-z', fieldName=#{chart.name})"></a>
            </th>
            <th scope="col">
                <a th:replace="fragements/layout :: sortColumn(data=${chartsPage}, name='surname', path=@{/chart/page}, sortUp='fa-arrow-up-z-a', sortDown='fa-arrow-down-a-z', fieldName=#{chart.surname})"></a>
            </th>
            <th scope="col" th:text="#{chart.hospitalNumber}"></th>
            <th scope="col" th:text="#{chart.dob}"></th>
            <th scope="col">
                <a th:replace="fragements/layout :: sortColumn(data=${chartsPage}, name='operation', path=@{/chart/page}, sortUp='fa-arrow-up-z-a', sortDown='fa-arrow-down-a-z', fieldName=#{chart.operation})"></a>
            </th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patientDemographics: ${chartsPage}">
            <td><a th:href="@{'/chart/update?uuid=' + ${patientDemographics.uuid}}"
                   th:text="${patientDemographics.name}"></a></td>
            <td th:text="${patientDemographics.surname}"></td>
            <td th:text="${patientDemographics.hospitalNumber}"></td>
            <td th:text="${patientDemographics.dob}"></td>
            <td th:text="${patientDemographics.operation}"></td>
            <td><a type="button" class="btn btn-danger" th:href="@{/chart/delete(uuid=${patientDemographics.uuid})}"
                   th:text="#{button.delete}"> </a></td>
        </tr>
        </tbody>
    </table>
    <div aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination"
            th:with="orderParam=${chartsPage.sort.iterator().hasNext() ? chartsPage.sort.iterator().next : null},
            sortParam=${orderParam.property + ',' + orderParam.direction + ',ignorecase'}">
            <li class="page-item"
                th:classappend="${!chartsPage.hasPrevious()} ? 'disabled'"
            ><a class="page-link" th:text="#{button.previous}"
                th:href="@{/chart/page(page=${chartsPage.number} - 1,sort=${sortParam})}"></a>
            </li>

            <li class="page-item" th:each="pageNumber: ${#numbers.sequence(0, chartsPage.totalPages - 1)}"
                th:classappend="${pageNumber == chartsPage.number ? 'active' : ''}">
                <a class="page-link" th:href="@{/chart/page(page=${pageNumber},sort=${sortParam})}"
                   th:text="${pageNumber + 1}"></a>
            </li>

            <li class="page-item"
                th:classappend="${!chartsPage.hasNext()} ? 'disabled'"
            ><a class="page-link" th:href="@{/chart/page(page=${chartsPage.number} + 1,sort=${sortParam})}"
                th:text="#{button.next}"></a></li>
        </ul>
    </div>
</div>
<div th:replace="fragements/layout::footer"></div>
</body>
</html>