<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart List</title>
</head>
<body>
<div th:if="${patientsDemographics.isEmpty()}"> <h3>There are no anaesthetic charts</h3></div>

<div th:unless="${patientsDemographics.isEmpty}">
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Hospital Number</th>
        <th>DOB</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patientDemographics: ${patientsDemographics}">
        <th th:text="${patientDemographics.name}"></th>
        <th th:text="${patientDemographics.surname}"></th>
        <th th:text="${patientDemographics.hospitalNumber}"></th>
        <th th:text="${patientDemographics.dob}"></th>
        <th> Delete</th>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>