<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Anesthetic chart</h1>
    <h3> Patient details</h3>
    <form action="" method="post">
        <div>
            <label>Name</label>
            <input type="text" placeholder="Name"><br>

            <label>Surname</label>
            <input type="text" placeholder="Surname"><br>

            <label>Hospital number</label>
            <input type="text" placeholder="Hospital number"><br>

            <label>Date of Birth</label>
            <input type="datetime-local" placeholder=""><br><br>

            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>